<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">

  <!-- Preamble -->

  <display-name>Atomic</display-name>
  <description>Java EE Web Application Deployment of the Atomic Microservice</description>
  <icon>
    <small-icon>atomic16x16.png</small-icon>
    <large-icon>atomic32x32.png</large-icon>
  </icon>

  <!-- Resource Definitions -->

  <resource-ref>
    <description>Atomic Data Source</description>
    <res-ref-name>jdbc/AtomicDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>

  <!-- Filter Definitions -->

  <filter>
    <filter-name>AddClientCaching</filter-name>
    <filter-class>org.neptunestation.filterpack.filters.SimpleHeaderInjectorFilter</filter-class>
    <init-param>
      <param-name>Cache-Control</param-name>
      <param-value>max-age=600</param-value>
    </init-param>
  </filter>

  <filter>
    <filter-name>CompressResponse</filter-name>
    <filter-class>org.neptunestation.filterpack.filters.CompressionFilter</filter-class>
  </filter>

  <filter>
    <filter-name>DisableFirefoxFeedReader</filter-name>
    <filter-class>org.neptunestation.filterpack.filters.MozillaWebFeedSpoofingFilter</filter-class>
  </filter>

  <filter>
    <filter-name>AddXSLStyleSheet</filter-name>
    <filter-class>org.neptunestation.filterpack.filters.XSLTStyleSheetInjectorFilter</filter-class>
    <init-param>
      <param-name>XSL_URL</param-name>
      <param-value>atomic.xsl</param-value>
    </init-param>
  </filter>

  <filter>
    <filter-name>TransformServerSide</filter-name>
    <filter-class>org.neptunestation.filterpack.filters.XMLTransformFilter</filter-class>
    <init-param>
      <param-name>XSL_URL</param-name>
      <param-value>http://localhost:8080/atomic-webapp/atomic.xsl</param-value>
    </init-param>
  </filter>

  <!-- Filter Mappings -->

  <!-- <filter-mapping> -->
  <!--   <filter-name>AddClientCaching</filter-name> -->
  <!--   <url-pattern>/atomic.svc/*</url-pattern> -->
  <!--   <url-pattern>/noauth.atomic.svc/*</url-pattern> -->
  <!-- </filter-mapping> -->

  <!-- <filter-mapping> -->
  <!--   <filter-name>CompressResponse</filter-name> -->
  <!--   <url-pattern>/atomic.svc/*</url-pattern> -->
  <!--   <url-pattern>/noauth.atomic.svc/*</url-pattern> -->
  <!-- </filter-mapping> -->

  <!-- <filter-mapping> -->
  <!--   <filter-name>DisableFirefoxFeedReader</filter-name> -->
  <!--   <url-pattern>/atomic.svc/*</url-pattern> -->
  <!--   <url-pattern>/noauth.atomic.svc/*</url-pattern> -->
  <!-- </filter-mapping> -->

  <filter-mapping>
    <filter-name>AddXSLStyleSheet</filter-name>
    <url-pattern>/atomic.svc/*</url-pattern>
    <url-pattern>/noauth.atomic.svc/*</url-pattern>
  </filter-mapping>

  <!-- <filter-mapping> -->
  <!--   <filter-name>TransformServerSide</filter-name> -->
  <!--   <url-pattern>/atomic.svc/*</url-pattern> -->
  <!--   <url-pattern>/noauth.atomic.svc/*</url-pattern> -->
  <!-- </filter-mapping> -->

  <!-- Servlet Definitions -->

  <servlet>
    <servlet-name>AtomicServlet</servlet-name>
    <servlet-class>org.neptunestation.atomic.core.AtomicServlet</servlet-class>
    <init-param>
      <param-name>DEBUG</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>NoAuthAtomicServlet</servlet-name>
    <servlet-class>org.neptunestation.atomic.core.AtomicServlet</servlet-class>
    <init-param>
      <param-name>DEBUG</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>NOAUTH</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <!-- Servlet Mappings -->

  <servlet-mapping>
    <servlet-name>AtomicServlet</servlet-name>
    <url-pattern>/atomic.svc/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>NoAuthAtomicServlet</servlet-name>
    <url-pattern>/noauth.atomic.svc/*</url-pattern>
  </servlet-mapping>
</web-app>
